/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


/* Set background color for elements where background is white */
body {
    background-color: #f5f3ed;
}

/* Exclude navbar and image from having the background color */
.container, .left-side, .right-side {
    background-color: #fff; /* Set background to white for these elements */
}



/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff; /* Change as needed */
    color: #0e0d0d; /* Change as needed */
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

/* Style for Google and Facebook buttons */
.social-login a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border: 2px solid  #5b5b5b;
    color: #5b5b5b;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.social-login a img {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    margin-right: 5px;
}

.social-login a:hover {
    background-color: #007bff;
    color: #fff;
}

/* Adjustments for layout */
.container {
    display: flex;
    height: 100vh;
}

.left-side {
    width: 45%;
}

.left-side img {
    width: 100%;
    height: auto;
}

.right-side {
    width: 55%;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px; /* Added margin to create space between h1 and form */
}

form {
    margin-top: 0; /* Reset margin */
}

/* Style for form inputs */
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"] {
    width: calc(100% - 20px); /* Calculate width to account for padding */
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #5b5b5b;
    border-radius: 5px;
}



/* Style for Create Account button */
form input[type="submit"] {
    width: 100%;
    padding: 15px; /* Increase padding for larger button */
    font-size: 18px; /* Increase font size */
    border: none;
    border-radius: 5px;
    background-color: rgb(2, 103, 2);
    color: white;
    cursor: pointer;
}

/* Style for login link */
.login-link {
    margin-top: 20px; /* Adjust margin */
}
.login-link a {
    color: yellow; /* Set color for the anchor tag */
}


#register-as {
    background-color: #2E8B57; /* Green background */
    color: #ffffff; /* White text */
    padding: 8px 12px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners */
    border: none; /* Remove default border */
    margin-bottom: 15px; /* Add some space between the dropdown and the form */
}

/* Style for the registration form */
form {
    margin-top: 20px; /* Add some space between the dropdown and the form */
}