{% extends "base.html" %}

{% block title %}
Final Order
{% endblock title %}

{% block body %}
<div class="container mt-4">
  <h1>Final Order</h1>
  <p>Here are the details of your final order:</p>
  
  <div class="row">
    {% for cart_item in cart_items %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ products[cart_item.Product_ID].Name }}</h5>
          <p class="card-text">Quantity: {{ cart_item.Quantity }}</p>
          <p class="card-text">Price: {{ products[cart_item.Product_ID].Price }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>Total Price: {{ total_price }}</p>
      <form action="{{ url_for('confirm_order') }}" method="POST">
        <input type="submit" value="Confirm Order" class="btn btn-success">
      </form>
    </div>
  </div>
</div>
{% endblock body %}
